.category-slider {
    padding: 20px 30px;

}

.all-categories-page {
    padding: 20px 30px;
    justify-content: center;
    align-content: center;
}

.slick-slide > div {
    margin: 0 10px;
}

.category-card {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 8px;
    overflow: hidden;
}

.category-card h3 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 8px 0;
}
